build
disks
fudge
fudge.cpio
fudge.img
fudge.iso
fudge.tar
report.xml
lib/*.a
lib/*.o
src/*.o
src/*.map
src/demo/demo
src/gameboy/gameboy
src/modules/*.ko
src/pcx/pcxcmap
src/pcx/pcxdata
src/pcx/pcxinfo
src/test/t_disk
src/test/t_disk2
src/test/t_donut
src/test/t_loop
src/test/t_mandelbrot
src/test/t_timer
src/utils/cd
src/utils/crc
src/utils/date
src/utils/disk
src/utils/dns
src/utils/dump
src/utils/echo
src/utils/elfload
src/utils/elfunload
src/utils/ext2srv
src/utils/grep
src/utils/hello
src/utils/help
src/utils/init
src/utils/irc
src/utils/kill
src/utils/log
src/utils/ls
src/utils/md5
src/utils/motd
src/utils/netcat
src/utils/netdump
src/utils/pwd
src/utils/random
src/utils/reboot
src/utils/rm
src/utils/sha1
src/utils/shell
src/utils/slang
src/utils/socket
src/utils/timestamp
src/utils/touch
src/utils/wc
src/utils/webc
src/utils/webs
src/wm/wm
src/wutils/wabout
src/wutils/wcalc
src/wutils/wfile
src/wutils/wrun
src/wutils/wsettings
src/wutils/wshell
src/wutils/wtest
