*.o
*.map
build
disks
fudge
fudge.cpio
fudge.img
fudge.iso
fudge.tar
report.xml
lib/abi/abi.a
lib/abi/qabi.a
lib/binary/binary.a
lib/disk/disk.a
lib/font/font.a
lib/hash/hash.a
lib/image/image.a
lib/math/math.a
lib/net/net.a
lib/socket/socket.a
src/demo/demo
src/gameboy/gameboy
src/modules/arch/x86/64bit/64bit.ko
src/modules/arch/x86/acpi/acpi.ko
src/modules/arch/x86/ahci/ahci.ko
src/modules/arch/x86/apic/apic.ko
src/modules/arch/x86/ata/ata.ko
src/modules/arch/x86/atapi/atapi.ko
src/modules/arch/x86/bga/bga.ko
src/modules/arch/x86/cpuid/cpuid.ko
src/modules/arch/x86/fpu/fpu.ko
src/modules/arch/x86/i915/i915.ko
src/modules/arch/x86/ide/ide.ko
src/modules/arch/x86/io/io.ko
src/modules/arch/x86/msr/msr.ko
src/modules/arch/x86/nvme/nvme.ko
src/modules/arch/x86/pat/pat.ko
src/modules/arch/x86/pci/pci.ko
src/modules/arch/x86/pic/pic.ko
src/modules/arch/x86/pit/pit.ko
src/modules/arch/x86/platform/platform.ko
src/modules/arch/x86/ps2/ps2-keyboard.ko
src/modules/arch/x86/ps2/ps2-mouse.ko
src/modules/arch/x86/ps2/ps2.ko
src/modules/arch/x86/rtc/rtc.ko
src/modules/arch/x86/rtl8139/rtl8139.ko
src/modules/arch/x86/smp/smp.ko
src/modules/arch/x86/syse/syse.ko
src/modules/arch/x86/uart/uart.ko
src/modules/arch/x86/usb/ehci.ko
src/modules/arch/x86/usb/ohci.ko
src/modules/arch/x86/usb/uhci.ko
src/modules/arch/x86/vbe/vbe.ko
src/modules/arch/x86/vga/vga.ko
src/modules/arch/x86/virtio/virtio-block.ko
src/modules/arch/x86/virtio/virtio-network.ko
src/modules/audio/audio.ko
src/modules/base/base.ko
src/modules/block/block.ko
src/modules/clock/clock.ko
src/modules/console/console.ko
src/modules/ethernet/ethernet.ko
src/modules/info/info.ko
src/modules/keyboard/keyboard.ko
src/modules/log/log.ko
src/modules/mouse/mouse.ko
src/modules/timer/timer.ko
src/modules/video/video.ko
src/pcx/pcxcmap
src/pcx/pcxdata
src/pcx/pcxinfo
src/test/t_disk
src/test/t_disk2
src/test/t_donut
src/test/t_loop
src/test/t_mandelbrot
src/test/t_timer
src/utils/cd
src/utils/crc
src/utils/date
src/utils/disk
src/utils/dns
src/utils/dump
src/utils/echo
src/utils/elfload
src/utils/elfunload
src/utils/ext2srv
src/utils/grep
src/utils/hello
src/utils/help
src/utils/init
src/utils/irc
src/utils/kill
src/utils/log
src/utils/ls
src/utils/md5
src/utils/motd
src/utils/netcat
src/utils/netdump
src/utils/pwd
src/utils/random
src/utils/reboot
src/utils/rm
src/utils/sha1
src/utils/shell
src/utils/slang
src/utils/socket
src/utils/timestamp
src/utils/touch
src/utils/wc
src/utils/webc
src/utils/webs
src/wm/wm
src/wutils/wabout
src/wutils/wcalc
src/wutils/wfile
src/wutils/wrun
src/wutils/wsettings
src/wutils/wshell
src/wutils/wtest
